[MASTER]
disable=
  duplicate-code,
  fixme,
  missing-function-docstring,
  missing-class-docstring,
  too-many-arguments,
  too-many-branches,
  too-many-instance-attributes,
  too-many-lines,
  too-many-statements,
