name: Build Python wheels

# For reference, see https://cibuildwheel.readthedocs.io/en/1.x/setup/

on:
  pull_request:
  push:
    branches: [main]
    tags:
      - 'v*'
      - '!v*-dev'

jobs:
  build_sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: astral-sh/setup-uv@v6

      - name: Build SDist
        run: uv build --sdist

      - uses: actions/upload-artifact@v6
        with:
          path: dist/*.tar.gz

  check:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: uv sync --all-extras
      - run: uv run pytest

  upload_all:
    needs: [build_sdist, check]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    steps:
    - uses: actions/download-artifact@v7
      with:
        # The above jobs yield a combined artifacts archive
        name: artifact
        path: dist

    - uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
