name: Build Python wheels

# For reference, see https://cibuildwheel.readthedocs.io/en/1.x/setup/

on:
  pull_request:
  push:
    branches: [main]
    tags:
      - 'v*'
      - '!v*-dev'

jobs:
  build_sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Build SDist
        run: python ./setup.py sdist

      - uses: actions/upload-artifact@v3
        with:
          path: dist/*.tar.gz

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-11, macos-12]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Build and test wheels
        uses: pypa/cibuildwheel@v2.9.0
        env:
          # We currently skip all PyPy builds on Windows and MacOS due to hard
          # exits and segfaults of the Python interpreter with some input trees.
          CIBW_SKIP: pp*-win* pp*-macosx*
          CIBW_TEST_REQUIRES: pylint
          CIBW_TEST_COMMAND: python {project}/tests/test_all.py
          CIBW_TEST_COMMAND_WINDOWS: python.exe {project}/tests/test_all.py

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl

  upload_all:
    needs: [build_sdist, build_wheels]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    steps:
    - uses: actions/download-artifact@v3
      with:
        # The above jobs yield a combined artifacts archive
        name: artifact
        path: dist

    - uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
